name: Markdownlint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
    - name: Lint files
      uses: articulate/actions-markdownlint@17b8abe7407cd17590c006ecc837c35e1ac3ed83
      with:
          files: .
          config: .markdownlint.yaml
